<%= render partial: 'layouts/messages' %>
<div class="col-md-12 well results-block">
  <% if @stock %>
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
    <% if current_user.can_add_stock?(@stock) %>
      <%= link_to 'Add Stock to my Portfolio', user_stocks_path(user: current_user, stock: @stock.ticker), 
                                    class: 'btn btn-xs btn-success', method: :post %>
    <% else %>
      <span class="label label-default">
        Stock cannot be added because you have
        <% if !current_user.under_stock_limit? %>
        5 stocks 
        <% end %>
        <% if !current_user.stock_already_added?(@stock.ticker) %>
        already added this stock
        <% end %>
      </span>
    <% end %>
  <% end %>
</div>